<!-- Side Nav bar -->
<nav>
    <ul>
        <li><a [routerLink]="['/document', 'all', 1]" routerLinkActive="active" routerLink="">All</a></li>
        <li><a [routerLink]="['/document', 'financial', 2]" routerLinkActive="active">Financial</a></li>
        <li><a [routerLink]="['/document', 'technical', 3]" routerLinkActive="active">Technical</a></li>
        <li><a [routerLink]="['/document', 'marketing', 4]" routerLinkActive="active">Marketing</a></li>
        <li><a [routerLink]="['/document', 'humarresources', 5]" routerLinkActive="active">Human Resources</a></li>
    </ul>
</nav>
<!-- Side Nav bar -->